<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.label :age %><br>
    <%= f.number_field :age %>
    <%= f.label :product %><br>
    <%= f.select :product_id, options_from_collection_for_select(Product.all, "id", "name") %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
